#$ TOOL ispLEVER Classic 1.7.00.05.28.13
#$ DATE Sat Apr 26 17:40:05 2014
#$ TITLE 2to4dec.bls 
#$ MODULE 2to4dec
#$ PINS 7 Y3 Y2 Y1 Y0 B A EN
.type fr
.i 3
.o 4
.ilb B A EN
.ob Y3 Y2 Y1 Y0
.p 9
1-- 1~1~
0-- ~1~1
-1- 11~~
-0- ~~11
--1 1111
110 ~~~0
010 ~~0~
100 ~0~~
000 0~~~
.end
