#$ TOOL ispLEVER Classic 1.7.00.05.28.13
#$ DATE Sat Jun 14 19:49:49 2014
#$ TITLE simpletoggle.bls 
#$ MODULE simpletoggle
#$ PINS 4 R T Q1 Q0
.type fr
.i 4
.o 2
.ilb Q0.PIN Q1.PIN R T
.ob Q0 Q1
.p 6
0--- ~1
-0-- 1~
--0- ~1
---1 11
-1-0 0~
1-10 ~0
.end
